
$font-stack:    Helvetica, sans-serif;

$app-black: #04050A;
$app-drk-blue: #0E2234;
$app-lt-blue: #74B7BB;
$app-white: #E7EAE1;
$app-red: #BA0D12;

.dashboard {
  min-height: 100%;
  box-sizing: border-box;

}

header {
  background: $app-drk-blue;
  height: 150px;
  display: flex;
  justify-content: space-between;
  img {
    border-radius: 100%;
    height: 110px;
  }

  span {
    margin: 20px;
    font-size: 2em;
    color: $app-white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

aside {
  display: flex;
  flex-direction: column;
  width: 175px;
  background: $app-lt-blue;
  i {
    color: white;
  }
}

.main-wrapper {
  display: flex;
  height: 1434px;
  i {
    color: $app-white;
  }
}

footer {
  background: $app-red;
  display: flex;
  height: 160px;
  display: flex;
  justify-content: space-between;
  a, span, i {
    color: $app-white;
  }
  i {
    font-size: 14em;
  }
  .nav-links {
   display: flex;
    align-items: center;
    a {
      margin: 0 .5em;

      //Icon Size below
      font-size: 5em; 
    }
  } 
  .official {
    display: flex;
    align-items: center;
    span {
      margin: 0 1em;
      font-size: 1.25em;
    }
  }
}

#logout-btn {
  border-top: 1px solid #9db2bf;
  background: $app-white;
  border-radius: 10px;
  text-shadow: rgba(0,0,0,.6) 1px 1px 5px;
  box-shadow: inset 0px 0px 29px 0px rgba(50, 50, 50, 0.85);
  color: $app-drk-blue;
  font-size: 4em;
  font-family: $font-stack;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px 10px;
  text-align: center;
  width: 30%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}  























