
$montserrat: 'Montserrat', Helvetica, sans-serif;
$ceviche: 'Ceviche One', Helvetica, sans-serif;

$app-black: #04050A;
$app-drk-blue: #1a2a2c;
$app-lt-blue: #B4D8E7;
$app-test-blue: #86D2E0;
$app-white: #E7EAE1;
$app-red: #BA0D12;
$app-pink: #FEADAD;
$app-yellow: #FFEC94;
$app-green: #B0E57C;
$app-purple: #DB92BD;
$app-other-lt-blue: #bbe3f7;
$app-test-green: #1FC39F;


.dashboard {
  min-height: 100%;
  box-sizing: border-box;
}

header {
  background: $app-test-blue;
  height: 150px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px -2px 3px 0px rgba(50, 50, 50, 0.35);
  i {
  font-size: 14em;
  }
  .logout {
    font-size: 72px;
    display: inline-block;
    margin: 33px;
    color: darken($app-test-blue, 30%);
    &:hover {
      color: darken($app-test-blue, 50%);
    }
  }
  img {
    border-radius: 100%;
    height: 110px;
    width: 110px;
    border: .25px solid gray;
  }

  span {
    margin: 20px;
    font-size: 1.75em;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $montserrat;
  }
}


.main-wrapper {
  display: flex;
  height: 82vh;
  overflow: scroll;
  main {
    width: 100%;
    background: #fff;

  }
  
  i {
    color: $app-white;
  }
}

footer {
  background: $app-drk-blue;
  display: flex;
  height: 160px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px 2px 3px 0px rgba(50, 50, 50, 0.35);

  // FOOTER TEXT COLOR
  a, span, i { 
    color: white;
  }
  i {
    font-size: 14em;
  }
  .nav-links {
   display: flex;
   align-items: center;
    a {
      margin: 0 .5em;
      font-size: 5em; 
    }
  } 
  .official {
    display: flex;
    align-items: center;
    span:first-child {
      margin: 0 1em;
      font-size: 3em;
    }
  }
}

#logout-btn {
  margin: auto 15px auto 0;
} 


























