
$montserrat: 'Montserrat', Helvetica, sans-serif;
$ceviche: 'Ceviche One', Helvetica, sans-serif;

$app-black: #04050A;
$app-drk-blue: #56BAEC;
$app-lt-blue: #B4D8E7;
$app-test-blue: #86D2E0;
$app-white: #E7EAE1;
$app-red: #BA0D12;
$app-pink: #FEADAD;
$app-yellow: #FFEC94;
$app-green: #B0E57C;
$app-purple: #DB92BD;
$app-other-lt-blue: #bbe3f7;
$app-test-green: #1FC39F;

.list-view{
  overflow: scroll;
  background: #f9f9f9;

  li {
    display: flex;
    align-items: center;
    vertical-align: middle;
    border-bottom: #ccc 2px solid;
    height: 12em;
    .list-items {
  
      height: 100%;
      display: flex;
      flex-direction: row;
 
      span {
        vertical-align: center;
      }
    }
    img {
      height: 10em;
      width: 10em;
      border-radius: 1.5em;
      margin: auto 1em;
      display: inline-block;
    }

  }
}

.image-wrapper, .name-wrapper, .address-wrapper {
  display: inline-block;
  }

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: flex;
    // align-items: center;
    justify-content: center;
  }

}

.name-address-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name-wrapper {
  font-size: 4em;
  width: 715px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: .25em;

}

.address-wrapper {
  font-size: 2.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 715px;
  margin: .25em;
  color: #666;

}


