


.register {
  min-height: 100vh;
  // border: 1px solid red;
  // font-size: 1em;
  background: #74b7bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #74b7bb 0%, #0e2234 100%, #2989d8 100%, #207cca 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #74b7bb 0%,#0e2234 100%,#2989d8 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #74b7bb 0%,#0e2234 100%,#2989d8 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74b7bb', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
  // h1 {
  //   padding-top: 1em;
  //   padding-bottom: 1em;
  //   font-size: 3em;
  // }
}

.reg-form {
  overflow: hidden;
  height: 80vh;
  position: relative;
}
// form {


// }
img.ninja-baby-single {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30vh;
  padding-bottom: 15vh;


}

img.ninja-baby-single-reg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;

}

.register-input {
  // padding-left: 3em;
  // margin-bottom: 2em;
  width: 100%;
}	


.reg-input-box1 {
    // margin-right: .5em;
    // margin-left: .5em;
    font-size: 2.5em;
    width: 100%;
    height: 8vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    vertical-align: center;

    border: .25px solid #ccc;
    // border-radius: 8px;
   	padding: .5em;
    // -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    // box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
   }

.reg-input-box2 {
    // margin-right: .5em;
    // margin-left: .5em;
    margin-bottom: 2vh;
    font-size: 2.5em;
    width: 100%;
    height: 8vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: .25px solid #ccc;
    // border-radius: 8px;
    padding: .5em;
    // -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    // box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
   }

.reg-input-box {
  // margin-right: .5em;
  // margin-left: .5em;
  font-size: 2.5em;
  width: 100%;
  height: 8vh;
  padding: .5em;
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
  vertical-align: center;

  border: .25px solid #ccc;
}

.dropzone {
  // margin-left: 0;
  // margin-right: 0;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 25vh;
  position: relative;
  z-index: 1;
  width: 28vw;
  height: 18vh;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 10px;

  span {
    position: relative;
    z-index: 2;
    font-size: 2em;
    color: #a9a9a9;
    display: inline-block;
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: center;
  }
}

.picture {
  width: 30vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $app-black;
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;

  margin-bottom: 2em;
}

img.profile-picture {
  width: 25vw;
  // margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: .6;
  // border: 2px solid $app-drk-blue;
  // border: 1px solid red;
  // margin-left: auto;
  // margin-right: auto;
}





