@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'add_place';
@import 'dashboard';
@import 'register';
@import 'login';
@import 'mapview';
@import 'list_view';
@import 'detailed_view';
@import 'directions';


$roboto: 'Roboto', sans-serif;

$app-black: #04050A;
$app-drk-blue: #56BAEC;
$app-lt-blue: #B4D8E7;
$app-test-blue: #86D2E0;
$app-white: #E7EAE1;
$app-red: #BA0D12;
$app-pink: #FEADAD;
$app-yellow: #FFEC94;
$app-green: #B0E57C;
$app-purple: #DB92BD;
$app-other-lt-blue: #bbe3f7;
$app-test-green: #1FC39F;

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: $roboto;
}

html, body { 
  height: 100vh; 

}

.app {
  max-width: 100%;
  min-height: 100%;
  height: 100%;
}

.home {
  max-width: 100vw;
  height: 100%;
  background: $app-test-blue; 

    .title-image-wrapper {
      padding: 10% 0;
      h1 {
        font-size: 10em;
        color: white;
      }
      img {
        display: block;
        margin: auto;
        height: 32em;
        padding-top: 2em;
        margin-bottom: 1em;
      }
    }
    .describe-wrapper {
      font-size: 4em;
      background-color: rgba(255, 255, 255, 0.25);
      padding: 5%;
      // border-radius: 43%;
      width: 90%;
      margin: 0% auto;
      // box-shadow: 0px 1px 32px #fff;
      h2 {
        color: #000;
        font-size: 1.25em;
        margin: auto;
        width: 62%;
      }  
    }  
}

h1, h2 {
  margin: 0;
  text-align: center;
}

.home-link {
  margin: auto;
  color: white;
  font-size: 4em;
}

.register-wrapper, .login-wrapper {
  min-width: 90%;
  margin: 20% auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-wrapper, .register-wrapper {
  p {
    display: block;
  }
}

p {
  font-size: 2.5em;
  text-align: center;
}


#login-btn {
  background: #000;
  border-radius: 2em;
  border: .2px solid #5d939c;
  color: #FFF;
  font-size: 5em;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  margin: 3% auto;
  text-align: center;
  width: 6em;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
} 

#register-btn {
  border-top: 1px solid #9db2bf;
  background: $app-white;
  border-radius: 10px;
  text-shadow: rgba(0,0,0,.6) 1px 1px 5px;
  box-shadow: inset 0px 0px 29px 0px rgba(50, 50, 50, 0.85);
  color: $app-drk-blue;
  font-size: 4em;
  text-decoration: none;
  vertical-align: middle;
  margin: 5px auto;
  text-align: center;
  width: 95%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}  








