@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'add_place';
@import 'dashboard';
@import 'register';
@import 'login';
@import 'mapview';
@import 'list_view';
@import 'detailed_view';
@import 'directions';

$font-stack: 'Basic', Helvetica, sans-serif;

$app-black: #04050A;
$app-drk-blue: #0E2234;
$app-lt-blue: #74B7BB;
$app-white: #E7EAE1;
$app-red: #BA0D12;

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: $font-stack;
}

html, body { 
  height: 100vh; 

}

.app {
  max-width: 100%;
  min-height: 100%;
}

.home {
  max-width: 100vw;
  height: 1594px;

  //GRADIENT BACKGROUND IN APP BLUES
  background: #74b7bb; /* Old browsers */
  background: -webkit-linear-gradient(top, #acd3d5 0%,#0e2234 100%);
  // background: -webkit-linear-gradient(top,  #74b7bb 0%,#0e2234 150%,#2989d8 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
    // background: -webkit-linear-gradient(top, #acd3d5 0%,#0e2234 100%); /*Maybe too dark*/
    // background: -webkit-linear-gradient(top, #acd3d5 0%,#528082 100%);

  // background: linear-gradient(to bottom,  #74b7bb 0%,#0e2234 100%,#2989d8 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74b7bb', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */

    .title-image-wrapper {
      h1 {
        font-size: 10em;
        color: white;
      }
      img {
        display: block;
        margin: auto;
        height: 32em;
        padding-top: 2em;
        margin-bottom: 1em;
      }
  }
    .describe-wrapper {
      font-size: 4em;
      background-color: rgba(255, 255, 255, 0.40);
      padding: 10px 5px;
      h2 {
        color: white;
        text-shadow: 2px 2px 4px #000000;
      }  
    }  
}

h1, h2 {
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  margin: 10px;
}

.home-link {
  text-align: center;
  margin: auto;
  display: inline-block;
  width: 100%;
  color: white;
}

.register-wrapper, .login-wrapper {
  min-width: 90%;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-wrapper, .register-wrapper {
  p {
    display: block;
  }

}

p {
  font-size: 2.5em;
  text-align: center;
}


.register-btn, #register-btn, #login-btn {
  border-top: 1px solid #9db2bf;
  // background: #4C7D86;
  background: $app-white;
  // -webkit-border-radius: 10px;
  // -moz-border-radius: 10px;
  border-radius: 10px;
  // -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  // -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  // box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.6) 1px 1px 5px;
  box-shadow: inset 0px 0px 29px 0px rgba(50, 50, 50, 0.85);
  // color: white;
  color: $app-drk-blue;
  font-size: 4em;
  font-family: $font-stack;
  text-decoration: none;
  vertical-align: middle;
  margin: 5px auto;
  text-align: center;
  width: 95%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}  







